.horizontal-title-list__item {
  margin: 0 5px 45px;
  position: relative;
  width: 190px;
  position: relative;
  display: flex;
  overflow: hidden;
  transition: opacity .1s ease;
  border-radius: 5px;
}
